<main class="lista-vacantes">
    <h2>Lista de vacantes</h2>

    {{#if vacantes.length}}
        {{#each vacantes as | vacante |}}
            <div class="vacante">
                <div class="caja">
                    <h3>{{vacante.empresa}}</h3>
                    <p class="puesto">{{vacante.titulo}}</p>
                </div>
                <div class="caja">
                    <p class="etiqueta">Ubicación</p>
                    <p class="nombre">{{vacante.ubicacion}}</p>
                </div>
                <div class="caja">
                    <p class="etiqueta">Contrato</p>
                    <p class="nombre contrato">{{vacante.contrato}}</p>
                </div>
                <div class="caja centrar-vertical">
                    <a href="/vacantes/{{vacante.url}}" class="btn btn-verde">Más información</a>
                </div>
            </div>
        {{/each}}
    {{else}}
        <p>No hay vacantes</p>
    {{/if}}
</main>